<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQhS2z-LbWk5hUA_uZ37McZbWlCj7-gaA</string>
	<key>GCM_SENDER_ID</key>
	<string>1004407396530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OKITconsulting.acftmaxer</string>
	<key>PROJECT_ID</key>
	<string>a-i-bedtime-stories-amb-f57iyc</string>
	<key>STORAGE_BUCKET</key>
	<string>a-i-bedtime-stories-amb-f57iyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004407396530:ios:c89d0f70be9c23038f91ab</string>
</dict>
</plist>